* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* outline: dodgerblue 1px solid; */
}

html {
  font-size: 16px;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* 整體容器 --------------------------------------- */
.hw1__container {
  font-family: "PingFang TC",sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

/* 頂部導航 --------------------------------------- */
.hw1__container .header {
  position: fixed;
  background-color: #353A3F;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.hw1__container .header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hw1__container .header__nav__logo {
  font-size: 1.25rem;
  color: white;
  margin: 0 10px;
}

.hw1__container .header__nav__items {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hw1__container .header__nav__items :first-child {
  padding: 0 6px 0 8px;
}

.hw1__container .header__nav__items__item {
  font-size: 1rem;
  color: #808080;
}

.hw1__container .header__nav__items__item:hover {
  cursor: pointer;
  color: white;
}

/* 大屏幕 --------------------------------------- */
.hw1__container .jumbotron {
  margin-top: 50px;
  width: 100%;
  background-color: #E9ECEF;
}

.hw1__container .jumbotron__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px auto;
  max-width: 960px;
}

.hw1__container .jumbotron__body__title {
  margin: 0;
  padding-top: 15px;
  font-size: 4.5rem;
  line-height: 6rem;
  font-weight: normal;
}

.hw1__container .jumbotron__body__text {
  font-size: 1rem;
  line-height: 1.35rem;
}

.hw1__container .jumbotron__body__button {
  font-size: 1.25rem;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  padding: 18px 20px;
  border: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.hw1__container .jumbotron__body__button:hover {
  background-color: #0069d9;
  cursor: pointer;
}
/* 卡片 --------------------------------------- */
.hw1__container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}

.hw1__container .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hw1__container .card__body :not(:last-child) {
  padding-right: 13px;
}

.hw1__container .card__body__title {
  margin: 0;
  font-size: 32px;
  font-weight: normal;
}

.hw1__container .card__body__text {
  font-size: 1rem;
  line-height: 1.35rem;
}

.hw1__container .card__body__button {
  font-size: 1rem;
  color: white;
  background-color: #6c757d;
  padding: 14px 10px;
  border-radius: 5px;
  border: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.hw1__container .card__body__button:hover {
  background-color: #5a6268;
  cursor: pointer;
}

/* 尾部版權宣告 -------------------------------------- */
.hw1__container .footer__copyright {
  max-width: 960px;
  margin: 0 auto;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
  padding-top: 20px;
}


/* RWD --------------------------------------- */
@media screen and (max-width: 747px) {
  .hw1__container {
    max-width: 747px;
  }
  .hw1__container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hw1__container .card__body {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .hw1__container {
    max-width: 992px;
  }
  .hw1__container .jumbotron {
    padding: 0 20px;
  }
  .hw1__container .card {
    padding-bottom: 40px;
    margin: 0 20px;
  }
  .hw1__container .footer__copyright {
    margin: 0 20px;
    border-top: rgba(0, 0, 0, 0.3) 1px solid;
  }
}
